<%- include("partials/header") %>

<!-- Main Content -->
<header class="container vh-100">
  <div class="d-flex flex-column align-items-center">
    <h1 class="mt-3 text-uppercase fw-bold"><%= titulo %></h1>
  </div>
  <hr />
  <div class="d-flex flex-column">
    <h2>Slider Principal</h2>
    <div class="d-flex justify-content-center">
      <div class="row">
        <% sliders1.forEach(slider => { %>
        <div class="col-4">
          <div class="card">
            <a href="/slider1">
              <img
                class="card-img-top"
                src="<%= slider.imagen %>"
                alt="<%= slider.titulo %>"
              />
            </a>
            <div class="card-body text-black">
              <p class="card-text"><%= slider.titulo %></p>
              <p class="card-text"><%= slider.subtitulo %></p>
              <small
                class="position-absolute top-0 start-0 p-1 text-center rounded text-white <%= slider.web ? 'bg-success ' : 'bg-danger' %>"
              >
                <%= slider.web ? 'PUBLICADO' : 'NO PUBLICADO' %>
              </small>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <hr />

    <div class="row">
      <h2>Slider Secundario</h2>

      <% sliders2.forEach(slider => { %>
      <div class="col-4">
        <div class="card">
          <a href="/slider2">
            <img
              class="card-img-top"
              src="<%= slider.imagen %>"
              alt="<%= slider.titulo %>"
            />
          </a>
          <small
            class="position-absolute top-0 start-0 p-1 text-center rounded text-white <%= slider.web ? 'bg-success ' : 'bg-danger' %>"
          >
            <%= slider.web ? 'PUBLICADO' : 'NO PUBLICADO' %>
          </small>
        </div>
      </div>
      <% }) %>
    </div>
    <hr />
    <div class="row mt-3">
      <h2>Tarjetas</h2>

      <% tarjetas.forEach(tarjeta => { %>
      <div class="col-3">
        <div class="card">
          <a href="/tarjetas">
            <img
              class="card-img-top"
              src="<%= tarjeta.imagen %>"
              alt="<%= tarjeta.titulo %>"
            />
          </a>
          <div class="card-body text-black">
            <p class="card-text"><%= tarjeta.titulo %></p>
            <p class="card-text"><%- tarjeta.texto %></p>
            <small
              class="position-absolute top-0 start-0 p-1 text-center rounded text-white <%= tarjeta.web ? 'bg-success ' : 'bg-danger' %>"
            >
              <%= tarjeta.web ? 'PUBLICADO' : 'NO PUBLICADO' %>
            </small>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <hr />
    <div class="row mt-3">
      <h2>Actividades</h2>

      <% actividades.sort((a, b) => a.orden - b.orden).forEach(actividad => { %>
      <div class="col-3">
        <div class="card">
          <a href="/actividades">
            <img
              class="card-img-top"
              src="<%= actividad.imagen %>"
              alt="<%= actividad.titulo %>"
            />
          </a>
          <div class="card-body text-black">
            <p class="card-text"><%= actividad.titulo %></p>
            <p class="card-text"><%= actividad.textoTarjeta %></p>
            <small
              class="position-absolute top-0 start-0 p-1 text-center rounded text-white <%= actividad.web ? 'bg-success ' : 'bg-danger' %>"
            >
              <%= actividad.web ? 'PUBLICADO' : 'NO PUBLICADO' %>
            </small>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <hr />
    <div class="row mt-3">
      <h2>Series de Youtube</h2>

      <% series.sort((a, b) => a.orden - b.orden).forEach(serie => { %>
      <div class="col-3">
        <div class="card">
          <a href="/series">
            <img
              class="card-img-top"
              src="<%= serie.imagen %>"
              alt="<%= serie.titulo %>"
            />
          </a>
          <div class="card-body text-black">
            <p class="card-text"><%= serie.titulo %></p>
            <p class="card-text"><%= serie.subtitulo %></p>
            <small
              class="position-absolute top-0 start-0 p-1 text-center rounded text-white <%= serie.web ? 'bg-success ' : 'bg-danger' %>"
            >
              <%= serie.web ? 'PUBLICADO' : 'NO PUBLICADO' %>
            </small>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <hr />
    <div class="row mt-3">
      <h2>Temps Junts</h2>

      <% const tepmsJuntsOrder = tempsJunts.sort((a, b) => { const dateA = new
      Date(a.fecha); const dateB = new Date(b.fecha); return dateB - dateA; });
      tepmsJuntsOrder.forEach(temps => { %>
      <div class="col-3">
        <div class="card">
          <a href="/tempsJunts">
            <img
              class="card-img-top"
              src="<%= temps.imagen %>"
              alt="<%= temps.titulo %>"
            />
          </a>
          <div class="card-body text-black">
            <p class="card-text"><%= temps.titulo %></p>
            <p class="card-text"><%= temps.subtitulo %></p>
            <p class="card-text"><%- temps.texto %></p>
            <small
              class="position-absolute top-0 start-0 p-1 text-center rounded text-white <%= temps.web ? 'bg-success ' : 'bg-danger' %>"
            >
              <%= temps.web ? 'PUBLICADO' : 'NO PUBLICADO' %>
            </small>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <hr />
    <div class="row mt-3">
      <h2>Videos de Youtube</h2>

      <% const videosOrder = videos.sort((a, b) => { const dateA = new
      Date(a.fecha); const dateB = new Date(b.fecha); return dateB - dateA; });
      videosOrder.forEach(videos => { %>
      <div class="col-3">
        <div class="card">
          <a href="/videos">
            <img
              class="card-img-top"
              src="<%= videos.imagen %>"
              alt="<%= videos.titulo %>"
            />
          </a>
          <div class="card-body text-black">
            <p class="card-text"><%= videos.titulo %></p>
            <p class="card-text"><%= videos.subtitulo %></p>
            <p class="card-text"><%- videos.texto %></p>
            <small
              class="position-absolute top-0 start-0 p-1 text-center rounded text-white <%= videos.web ? 'bg-success ' : 'bg-danger' %>"
            >
              <%= videos.web ? 'PUBLICADO' : 'NO PUBLICADO' %>
            </small>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</header>

<%- include("partials/footer") %>
