<%- include("partials/header") %>

<div class="vh-100 container pt-2 text-center d-flex justify-content-center">
  <section class="contenedor">
    <h1 class="display-1"><%= tituloPagina %></h1>

    <form
      class="d-flex justify-content-center gap-3 align-items-center mb-3"
      method="post"
      action="/tempsJunts"
    >
      <div class="mb-3">
        <label for="titulo" class="form-label">Titulo</label>
        <input
          type="text"
          class="form-control"
          name="titulo"
          id="titulo"
          aria-describedby="helpId"
          placeholder="Título de la excursión"
        />
      </div>
      <div class="mb-3">
        <label for="subtitulo" class="form-label">Subtitulo</label>
        <input
          type="text"
          class="form-control"
          name="subtitulo"
          id="subtitulo"
          aria-describedby="helpId"
          placeholder="Subtítulo de la excursión"
        />
      </div>
      <div class="mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input
          type="date"
          class="form-control"
          name="fecha"
          id="fecha"
          aria-describedby="helpId"
          placeholder="Fecha"
        />
      </div>

      <div style="margin-top: 20px">
        <label for="Imagen" class="form-label">Imagen</label>
        <input
          type="text"
          class="form-control imagen-input-create"
          name="imagen"
          id="imagen"
          aria-describedby="helpId"
          placeholder="Imagen de la excursión"
          autocomplete="off"
        />
        <button
          type="button"
          class="btn btn-sm btn-secondary mt-1"
          onclick="openImagePicker('modalCreate', 'imagen')"
        >
          Seleccionar imagen
        </button>
        <!-- MODAL CREATE AGREGAR IMAGENES-->

        <div id="modalCreate" class="modal">
          <div class="modal-dialog modal-xl text-dark modal-images">
            <div class="modal-content">
              <div class="modal-header">
                <h2>Seleccionar imagen</h2>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div
                    class="row image-grid"
                    style="overflow-y: auto; max-height: calc(100vh - 200px)"
                  >
                    <!-- Las imágenes se agregarán aquí -->
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  id="load-more-btn"
                >
                  Cargar mas..
                </button>
                <button
                  type="button"
                  class="btn btn-secondary cancelar-galeria-create"
                  data-bs-dismiss="modal"
                >
                  Cancelar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="texto" class="form-label">Texto</label>
        <textarea
          class="form-control"
          name="texto"
          id="texto"
          aria-describedby="helpId"
          placeholder="Texto de la excursión"
        ></textarea>
      </div>
      <div class="mt-3 form-check flex-colum">
        <div>
          <input type="checkbox" class="form-check-input" name="web" id="web" />
          <label class="form-check-label" for="boton">Web</label>
        </div>
      </div>
      <div class="mb-3">
        <label for="link" class="form-label">Link</label>
        <input
          type="text"
          class="form-control"
          name="link"
          id="link"
          aria-describedby="helpId"
          placeholder="Enlace a la excursion"
        />
      </div>
      <button type="submit" class="btn btn-primary" style="margin-top: 15px">
        Crear
      </button>
    </form>
    <!-- TARJETA DASHBOARD -->

    <div class="row">
      <% tempsJunts.forEach(temps => { %>
      <div class="col-md-3">
        <div class="card mb-4 position-relative">
          <img
            src="<%= temps.imagen %>"
            class="card-img-top"
            alt="<%= temps.titulo %>"
          />
          <div class="card-body text-dark">
            <h5 class="card-title"><%= temps.titulo %></h5>
            <p class="card-text"><%= temps.subtitulo %></p>
            <% const dateObj = new Date(temps.fecha); const options = { weekday:
            'long', year: 'numeric', month: 'long', day: 'numeric' }; const
            formattedDate = dateObj.toLocaleDateString('es-ES', options); %>
            <p class="card-text"><%= formattedDate %></p>
            <p class="card-text truncate-text"><%= temps.texto %></p>
            <a href="<%= temps.link %>" target="_blank" class="card-text"
              ><%= temps.link %></a
            >
            <small
              class="position-absolute top-0 start-0 p-1 text-center rounded text-white <%= temps.web ? 'bg-success' : 'bg-danger' %>"
            >
              <%= temps.web ? 'PUBLICADO' : 'NO PUBLICADO' %>
            </small>
          </div>

          <div class="d-flex justify-content-center mt-auto p-3">
            <a
              href="/tempsJunts/edit/<%= temps.id %>"
              class="btn btn-warning edit-button"
              data-bs-toggle="modal"
              data-bs-target="#modalEdit"
              data-id="<%= temps.id %>"
              data-type="tempsJunts"
              >Editar</a
            >
            <a
              href="/tempsJunts/delete/<%= temps.id %>"
              class="btn btn-danger ms-2"
              >Borrar</a
            >
          </div>
        </div>
      </div>

      <% }) %>
    </div>
  </section>
</div>

<!-- Modal Edit -->

<div
  class="modal fade"
  id="modalEdit"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  role="dialog"
  aria-labelledby="modalTitleId"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
    role="document"
  >
    <div class="modal-content text-dark">
      <div class="modal-header">
        <h5 id="exampleModalLabel">Editar Excursión</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="editForm" method="post" action="/tempsJunts/update">
          <div class="mb-3">
            <label for="editTitulo" class="form-label">Titulo</label>
            <input
              type="text"
              class="form-control"
              id="editTitulo"
              name="editTitulo"
            />
          </div>
          <div class="mb-3">
            <label for="editSubtitulo" class="form-label">Subtitulo</label>
            <input
              type="text"
              class="form-control"
              id="editSubtitulo"
              name="editSubtitulo"
            />
          </div>
          <div class="mb-3">
            <label for="editFecha" class="form-label">Fecha</label>
            <input
              type="date"
              class="form-control"
              name="editFecha"
              id="editFecha"
              aria-describedby="helpId"
              placeholder="Fecha"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="editImagen"
              name="editImagen"
              autocomplete="off"
            />
            <button
              type="button"
              class="btn btn-sm btn-secondary mt-1"
              onclick="openImagePicker('modalSelectImage', 'editImagen')"
            >
              Seleccionar imagen
            </button>
          </div>
          <div class="mb-3">
            <label for="texto" class="form-label">Texto</label>
            <textarea
              class="form-control"
              id="editTexto"
              name="editTexto"
              aria-describedby="helpId"
              placeholder="Texto de la excursión"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="link" class="form-label">Link</label>
            <input
              type="text"
              class="form-control"
              name="editLink"
              id="editLink"
              aria-describedby="helpId"
              placeholder="Enlace a la excursion"
            />
          </div>
          <div class="mt-3 form-check flex-colum">
            <div>
              <input
                type="checkbox"
                class="form-check-input"
                name="editWeb"
                id="editWeb"
              />
              <label class="form-check-label" for="boton">Web</label>
            </div>
          </div>

          <input type="hidden" id="tempsJuntsId" name="id" />
        </form>
        <!-- Modal para seleccionar imágenes -->
        <div id="modalSelectImage" class="modal">
          <div class="modal-dialog modal-xl text-dark modal-images">
            <div class="modal-content">
              <div class="modal-header">
                <h2>Seleccionar imagen</h2>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div
                    class="row image-grid"
                    style="overflow-y: auto; max-height: calc(100vh - 200px)"
                  >
                    <!-- Las imágenes se agregarán aquí -->
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  id="load-more-btn"
                >
                  Cargar mas..
                </button>
                <button
                  type="button"
                  class="btn btn-secondary cancelar-galeria-create"
                  data-bs-dismiss="modal"
                >
                  Cancelar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary cancelar-galeria-edit"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" id="saveChanges">
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
